@model WebApp.Models.Alerte

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Alerte</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NiveauDanger)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NiveauDanger)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UtilisateurId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtilisateurId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
